.idea/
.vscode/
.vs/
cmake-build-debug/
bin/
build/
out/
CMakeSettings.json
CMakeCache.txt
my_raylib_Game
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
build.ninja
cmake_install.cmake
_deps/
build/
.ninja_deps
.ninja_log
.cache/



